[Unit]
Description=swaybg random script
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/swaybg_random.sh
# Environment=DISPLAY=:0
# Environment=SWAYSOCK=/run/user/%U/sway-ipc.%U.%I.sock
