*

# files in ~/.
!.bashrc
!.editorconfig
!.gitconfig
!.gitignore
!.rtorrent.rc
!.tmux-powerlinerc
!.tmux.conf
!.vimrc
!.zprofile
!.zshrc
!.xinitrc
!.xprofile
!.xsession
!README.md
!.fdignore
!.gitattributes

# .config/
!.config/
!.config/**

# .ssh/ 
!.ssh/
!.ssh/config

!.local/
!.local/share/
!.local/share/wallpapers/
!.local/share/wallpapers/**

# .tmux directory
!.tmux/

!.copilot/
!.copilot/**

# Keep these specific ignore patterns
*.img
**/.DS_Store
.vscode
*test*
