*

# files in ~/.
!.bashrc
!.editorconfig
!.gitconfig
!.gitignore
!.rtorrent.rc
!.tmux-powerlinerc
!.tmux.conf
!.vimrc
!.zprofile
!.zshrc
!.xinitrc
!.xprofile
!.xsession
!README.md
!.fdignore
!.gitattributes

# .config/
!.config/
!.config/**

# .ssh/ 
!.ssh/
!.ssh/config

# .tmux directory
!.tmux/

!Resources/
!Resources/Photos/
!Resources/Photos/Wallpapers/
!Resources/Photos/Wallpapers/**

# Keep these specific ignore patterns
*.img
**/.DS_Store
.vscode
*test*
