*

# files in ~/.
!.bashrc
!.editorconfig
!.gitconfig
!.gitignore
!.rtorrent.rc
!.tmux-powerlinerc
!.tmux.conf
!.vimrc
!.zprofile
!.zshrc
!.xinitrc
!.xprofile
!.xsession
!README.md
!.fdignore

# .config/
!.config/
!.config/**

# .ssh/ 
!.ssh/
!.ssh/config

# .tmux directory
!.tmux/

# Keep these specific ignore patterns
*.img
*.png
**/.DS_Store
.vscode
*test*
