@define-color primary #c2c1ff; 
@define-color on_primary #2b2a60; 
@define-color primary_container #414178; 
@define-color on_primary_container #e2dfff; 
@define-color inverse_primary #595892; 
@define-color primary_fixed #e2dfff; 
@define-color primary_fixed_dim #c2c1ff; 
@define-color on_primary_fixed #15134a; 
@define-color on_primary_fixed_variant #414178; 
@define-color secondary #c6c4dd; 
@define-color on_secondary #2f2f42; 
@define-color secondary_container #464559; 
@define-color on_secondary_container #e3e0f9; 
@define-color secondary_fixed #e3e0f9; 
@define-color secondary_fixed_dim #c6c4dd; 
@define-color on_secondary_fixed #1a1a2c; 
@define-color on_secondary_fixed_variant #464559; 
@define-color tertiary #eab9d2; 
@define-color on_tertiary #472639; 
@define-color tertiary_container #603c50; 
@define-color on_tertiary_container #ffd8eb; 
@define-color tertiary_fixed #ffd8eb; 
@define-color tertiary_fixed_dim #eab9d2; 
@define-color on_tertiary_fixed #2f1124; 
@define-color on_tertiary_fixed_variant #603c50; 
@define-color error #ffb4ab; 
@define-color on_error #690005; 
@define-color error_container #93000a; 
@define-color on_error_container #ffdad6; 
@define-color surface_dim #131318; 
@define-color surface #131318; 
@define-color surface_tint #c2c1ff; 
@define-color surface_bright #39383f; 
@define-color surface_container_lowest #0e0e13; 
@define-color surface_container_low #1b1b21; 
@define-color surface_container #201f25; 
@define-color surface_container_high #2a292f; 
@define-color surface_container_highest #35343a; 
@define-color on_surface #e5e1e9; 
@define-color on_surface_variant #c8c5d0; 
@define-color outline #928f9a; 
@define-color outline_variant #47464f; 
@define-color inverse_surface #e5e1e9; 
@define-color inverse_on_surface #303036; 
@define-color surface_variant #47464f; 
@define-color background #131318; 
@define-color on_background #e5e1e9; 
@define-color shadow #000000; 
@define-color scrim #000000; 
@define-color source_color #1b1a46; 
@define-color source_color #1b1a46; 


@define-color red #ffb2b9;  
@define-color on_red #561d26;  
@define-color red_container #72333b;  
@define-color on_red_container #ffdadc;  
@define-color yellow #b8cf84;  
@define-color on_yellow #263500;  
@define-color yellow_container #3b4d0f;  
@define-color on_yellow_container #d4ec9d;  
@define-color green #95d5a7;  
@define-color on_green #00391d;  
@define-color green_container #10512f;  
@define-color on_green_container #b0f1c2;  
@define-color cyan #82d3e2;  
@define-color on_cyan #00363e;  
@define-color cyan_container #004e59;  
@define-color on_cyan_container #9eefff;  
@define-color blue #c0c1ff;  
@define-color on_blue #292a60;  
@define-color blue_container #404178;  
@define-color on_blue_container #e1e0ff;  
@define-color magenta #e4b7f3;  
@define-color on_magenta #442253;  
@define-color magenta_container #5c386b;  
@define-color on_magenta_container #f7d8ff;  
