@define-color primary #ffb5a1; 
@define-color on_primary #561f10; 
@define-color primary_container #723524; 
@define-color on_primary_container #ffdbd1; 
@define-color inverse_primary #8f4b39; 
@define-color primary_fixed #ffdbd1; 
@define-color primary_fixed_dim #ffb5a1; 
@define-color on_primary_fixed #3a0a01; 
@define-color on_primary_fixed_variant #723524; 
@define-color secondary #e7bdb2; 
@define-color on_secondary #442a23; 
@define-color secondary_container #5d4038; 
@define-color on_secondary_container #ffdbd1; 
@define-color secondary_fixed #ffdbd1; 
@define-color secondary_fixed_dim #e7bdb2; 
@define-color on_secondary_fixed #2c150f; 
@define-color on_secondary_fixed_variant #5d4038; 
@define-color tertiary #d9c58d; 
@define-color on_tertiary #3b2f05; 
@define-color tertiary_container #534619; 
@define-color on_tertiary_container #f6e1a6; 
@define-color tertiary_fixed #f6e1a6; 
@define-color tertiary_fixed_dim #d9c58d; 
@define-color on_tertiary_fixed #231b00; 
@define-color on_tertiary_fixed_variant #534619; 
@define-color error #ffb4ab; 
@define-color on_error #690005; 
@define-color error_container #93000a; 
@define-color on_error_container #ffdad6; 
@define-color surface_dim #1a110f; 
@define-color surface #1a110f; 
@define-color surface_tint #ffb5a1; 
@define-color surface_bright #423734; 
@define-color surface_container_lowest #140c0a; 
@define-color surface_container_low #231917; 
@define-color surface_container #271d1b; 
@define-color surface_container_high #322825; 
@define-color surface_container_highest #3d3230; 
@define-color on_surface #f1dfda; 
@define-color on_surface_variant #d8c2bc; 
@define-color outline #a08c88; 
@define-color outline_variant #53433f; 
@define-color inverse_surface #f1dfda; 
@define-color inverse_on_surface #392e2b; 
@define-color surface_variant #53433f; 
@define-color background #1a110f; 
@define-color on_background #f1dfda; 
@define-color shadow #000000; 
@define-color scrim #000000; 
@define-color source_color #9c2c0a; 
@define-color source_color #9c2c0a; 


@define-color red #ffb4a4;  
@define-color on_red #561f13;  
@define-color red_container #733427;  
@define-color on_red_container #ffdad3;  
@define-color yellow #dec56e;  
@define-color on_yellow #3b2f00;  
@define-color yellow_container #554500;  
@define-color on_yellow_container #fce186;  
@define-color green #b7d085;  
@define-color on_green #253600;  
@define-color green_container #3a4d10;  
@define-color on_green_container #d3ec9e;  
@define-color cyan #84d5c4;  
@define-color on_cyan #00382f;  
@define-color cyan_container #005045;  
@define-color on_cyan_container #9ff2e0;  
@define-color blue #cebdfe;  
@define-color on_blue #35275e;  
@define-color blue_container #4c3e76;  
@define-color on_blue_container #e8ddff;  
@define-color magenta #fcb0d5;  
@define-color on_magenta #521d3c;  
@define-color magenta_container #6c3353;  
@define-color on_magenta_container #ffd8e8;  
