@define-color primary #9acbfa; 
@define-color on_primary #003352; 
@define-color primary_container #0b4a72; 
@define-color on_primary_container #cde5ff; 
@define-color inverse_primary #2e628c; 
@define-color primary_fixed #cde5ff; 
@define-color primary_fixed_dim #9acbfa; 
@define-color on_primary_fixed #001d32; 
@define-color on_primary_fixed_variant #0b4a72; 
@define-color secondary #b9c8da; 
@define-color on_secondary #233240; 
@define-color secondary_container #3a4857; 
@define-color on_secondary_container #d5e4f6; 
@define-color secondary_fixed #d5e4f6; 
@define-color secondary_fixed_dim #b9c8da; 
@define-color on_secondary_fixed #0e1d2a; 
@define-color on_secondary_fixed_variant #3a4857; 
@define-color tertiary #d2bfe7; 
@define-color on_tertiary #382a49; 
@define-color tertiary_container #4f4061; 
@define-color on_tertiary_container #eedcff; 
@define-color tertiary_fixed #eedcff; 
@define-color tertiary_fixed_dim #d2bfe7; 
@define-color on_tertiary_fixed #221533; 
@define-color on_tertiary_fixed_variant #4f4061; 
@define-color error #ffb4ab; 
@define-color on_error #690005; 
@define-color error_container #93000a; 
@define-color on_error_container #ffdad6; 
@define-color surface_dim #101418; 
@define-color surface #101418; 
@define-color surface_tint #9acbfa; 
@define-color surface_bright #36393e; 
@define-color surface_container_lowest #0b0f12; 
@define-color surface_container_low #181c20; 
@define-color surface_container #1c2024; 
@define-color surface_container_high #272a2f; 
@define-color surface_container_highest #313539; 
@define-color on_surface #e0e2e8; 
@define-color on_surface_variant #c2c7cf; 
@define-color outline #8c9198; 
@define-color outline_variant #42474e; 
@define-color inverse_surface #e0e2e8; 
@define-color inverse_on_surface #2d3135; 
@define-color surface_variant #42474e; 
@define-color background #101418; 
@define-color on_background #e0e2e8; 
@define-color shadow #000000; 
@define-color scrim #000000; 
@define-color source_color #2f638c; 
@define-color source_color #2f638c; 


@define-color red #ffb2b9;  
@define-color on_red #561d26;  
@define-color red_container #72333b;  
@define-color on_red_container #ffdadc;  
@define-color yellow #b8cf84;  
@define-color on_yellow #263500;  
@define-color yellow_container #3b4d0f;  
@define-color on_yellow_container #d4ec9d;  
@define-color green #95d5a7;  
@define-color on_green #00391d;  
@define-color green_container #10512f;  
@define-color on_green_container #b0f1c2;  
@define-color cyan #82d3e2;  
@define-color on_cyan #00363e;  
@define-color cyan_container #004e59;  
@define-color on_cyan_container #9eefff;  
@define-color blue #afc6ff;  
@define-color on_blue #142f60;  
@define-color blue_container #2d4578;  
@define-color on_blue_container #d9e2ff;  
@define-color magenta #e4b7f3;  
@define-color on_magenta #442253;  
@define-color magenta_container #5c386b;  
@define-color on_magenta_container #f7d8ff;  
