
// Add lines like this to spawn processes at startup.
// Note that running niri as a session supports xdg-desktop-autostart,
// which may be more convenient to use.
// See the binds section below for more spawn examples.
spawn-at-startup "dunst"
spawn-at-startup "hypridle"

// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"

// spawn-sh-at-startup "systemctl --user start swaybg-switch.timer"
spawn-sh-at-startup "swaybg_random.sh"
spawn-sh-at-startup "dms run"
// spawn-sh-at-startup "qs" "-c" "noctalia-shell"
