*

!.gitignore

!alacritty/
!alacritty/**

!nvim/
!nvim/**

!fish/
!fish/**

!lazygit/
!lazygit/**

!lf/
!lf/**

!yay/
!yay/**

!awesome/
!awesome/**

!hypr/
!hypr/**

!waybar/
!waybar/**

!rofi/
!rofi/**

!foot/
!foot/**

!gtk-3.0/
!gtk-3.0/**

!.fdignore
