*

!.gitignore

!alacritty/
!alacritty/**

!nvim/
!nvim/**

!fish/
!fish/**

!lazygit/
!lazygit/**

!lf/
!lf/**

!yay/
!yay/**

!awesome/
!awesome/**

!hypr/
!hypr/**

!waybar/
!waybar/**

!rofi/
!rofi/**

!foot/
!foot/**

!gtk-3.0/
!gtk-3.0/**

!systemd/
!systemd/user/
!systemd/user/*.service
!systemd/user/*.timer

!blender/
!blender/**

# ignore all files in directory
blender/*/scripts/*
# unignore directory
!blender/*/scripts/presets/
# ignore all files in directory
blender/*/scripts/presets/*
# unignore interface_theme directory
!blender/*/scripts/presets/interface_theme/

blender/*/extensions/

blender/*/config/*
!blender/*/config/startup.blend
!blender/*/config/userpref.blend


!.fdignore
