/* Tokyo night dark enhanced color theme */

@define-color module-bg rgba(8, 8, 11, 0.9);
@define-color tooltip-bg rgba(8, 8, 11, 1);
@define-color inactive #787c99;
@define-color fg #acb0d0;
@define-color workspace-fg @fg;

@define-color red #f7768e;
@define-color blue #7aa2f7;
@define-color yellow #e0af68;
@define-color green #41a6b5;

@define-color BACKGROUND rgba (36, 41, 49, 0.7);
@define-color FOREGROUND rgba (216, 222, 233, 1);
@define-color ALTBACKGROUND rgba (57, 64, 79, 0.8);
@define-color ALTFOREGROUND rgba (118, 139, 178, 1);
@define-color ACCENT rgba (129, 161, 193, 1);
@define-color BLACK rgba (59, 66, 82, 1);
@define-color RED rgba (191, 97, 106, 1);
@define-color GREEN rgba (163, 190, 140, 1);
@define-color YELLOW rgba (235, 203, 139, 1);
@define-color BLUE rgba (129, 161, 193, 1);
@define-color MAGENTA rgba (180, 142, 173, 1);
@define-color CYAN rgba (136, 192, 208, 1);
@define-color WHITE rgba (229, 233, 240, 1);
@define-color ALTBLACK rgba (76, 86, 106, 1);
@define-color ALTRED rgba (191, 97, 106, 1);
@define-color ALTGREEN rgba (163, 190, 140, 1);
@define-color ALTYELLOW rgba (235, 203, 139, 1);
@define-color ALTBLUE rgba (129, 161, 193, 1);
@define-color ALTMAGENTA rgba (180, 142, 173, 1);
@define-color ALTCYAN rgba (143, 188, 187, 1);
@define-color ALTWHITE rgba (236, 239, 244, 1);
